.account-masthead {
	background-color: #000000;		
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a {
	background-color: #ffffff;		
	color: #000000;
}

.masthead {
	background-color: #82B919;
	padding: 5px;
}



.masthead .nav a {
	color: #ffffff;
}

.homepage .module-search .module-content {
	background-color: #82B919;
}

.homepage .module-search .tags {
 	background-color: #4D4D4D;
}

.hero {
	background: url('/base/image/vejleBackImage.jpg') repeat scroll 0% 0%;
	/*background-size: 1288px 424px;*/
        background-repeat: no-repeat;
}

.site-footer {
	background-color: #000000;
}

body {
    background-color: #FFFFFF;
} .module-content {
    background-color: rgba(255,255,255,0.9);
} .hero {
    background-color: #000000;
    background: url('http://voda.odaa.dk/base/image/vejle_top.png') repeat scroll 0% 0%;
    background-position: right; 
    background-repeat: no-repeat;
} .masthead {
   background-color: #1497CF;
   padding: 0px;
   margin: 0px;
} .homepage .module-search .module-content {
	background-color: #1497CF;
} .homepage .module-search .tags {
 	background-color: #001a52;
} .nav-collapse {
        margin-top: 4px;
}


