{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    <p><strong>Åbne data fra Aarhus</strong></p>

<p>På <a href="http://www.odaa.dk">www.odaa.dk</a> kan du finde åbne data fra Aarhus.</p>
<p>Open Data Aarhus giver alle interesserede mulighed for på en nem måde at tilgå data
fra Aarhus Kommune og partnerne i Smart Aarhus. Det er eksempelvis data indenfor trafik, kultur,
natur, miljø og meget mere. </p>

<p>Læs mere om projektet på siden <a href="/about">om.</a> </p>
</header>
</div>

