{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    <p><strong>Åbne data fra Vejle</strong></p>
<p>På <a href="www.opendata.vejle.dk">www.opendata.vejle.dk</a> kan du finde en række dataset fra Vejle Kommune.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
<p>aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<ul>
 <li>
     Lorem ipsum dolor sit amet,
 </li>

 <li>
    consectetur adipiscing elit, 
 </li>

 <li>
    sed do eiusmod tempor incididunt
 </li>
</ul>
<p>Læs mere om projektet på <a href="www.resilient.vejle.dk/opendata">www.resilient.vejle.dk/opendata</a></p>
</header>
</div>

